<header class="header">
  <section class="sellerInfo headerSection">
    <h1 class="sellerName">ООО "VoidHack"</h1>
    <div class="sellerContacts">
      <span class="sellerContact" id="sellerPhone">+71234567890</span>
      <span class="sellerContact" id="sellerSite">
                            <a href="https://ctftime.org/team/21137" target="_blank">Вебсайт</a>
                        </span>
      <span class="sellerContact" id="sellerMail">
                            <a href="mailto:voidhack.ctf@gmail.com"
                               target="_blank">voidhack.ctf@gmail.com</a>
                        </span>
    </div>
    <p class="companyInfo"><a href="#">Информация о компании</a></p>
    <p class="reqs"><a href="#">Показать реквизиты</a></p>
  </section>
  <section class="sellerLogo headerSection">
    <img src="assets/images/logo.jpg" alt="seller logo" id="sellerImg">
  </section>
</header>
<hr>
