<section class="socialButtons">
  <a href="https://facebook.com/sharer.php?url=http://79.172.60.237:3415" target="_blank"
     class="shareButton facebook"><span class="fa fa-facebook"></span> Поделиться</a>
  <a href="https://twitter.com/intent/tweet?url=http://79.172.60.237:3415" target="_blank"
     class="shareButton twitter"><span class="fa fa-twitter"></span> Твитнуть</a>
  <a href="https://plus.google.com/share?url=http://79.172.60.237:3415" target="_blank"
     class="shareButton google"><span class="fa fa-google"></span> Поделиться</a>
  <a href="http://vk.com/share.php?url=http://79.172.60.237:3415" target="_blank"
     class="shareButton vk"><span class="fa fa-vk"></span> Поделиться</a>
</section>
