<h2>О компании ООО "VoidHack"</h2>
<section class="sellerGoods">
  <figure class="sellerGood good"><img src="assets/images/ructf.jpg" alt="RuCTF" class="goodImg">
    <figcaption class="goodCaption">Сыграть на RuCTF</figcaption>
    <p class="goodPrice">0 &#8381;</p></figure>
  <figure class="sellerGood good"><img src="assets/images/pentagon.jpg" alt="Pentagon" class="goodImg">
    <figcaption class="goodCaption">Взломать пентагон</figcaption>
    <p class="goodPrice">&infin; &#8381;</p></figure>
  <figure class="sellerGood good"><img src="assets/images/pentest.jpg" alt="Pentest" class="goodImg">
    <figcaption class="goodCaption">Пентест</figcaption>
    <p class="goodPrice">5000 &#8381;</p></figure>
</section>
