{{submitted}}
<form [formGroup]="payForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div class="anyBank colLeft">
    <div class="cardImg">
      <div class="cardLogos">
        <img class="cardLogo" src="assets/images/visa.png" alt="visa logo">
        <img class="cardLogo" src="assets/images/maestro.png"
             alt="maestro logo">
        <img class="cardLogo" src="assets/images/Mastercard-logo.svg"
             alt="mastercard logo">
      </div>
      <input class="cardInput" type="tel" placeholder="Номер карты"
             id="cardNumber" minlength="16" maxlength="16" pattern="\d{16}"
             required name="cardNumber" formControlName="cardNumber">
      {{payment.cardNumber}}
      <input class="cardInput" type="text" placeholder="ММ/ГГ" id="valid"
             minlength="5" maxlength="5" pattern="[01][1-9]/[1-3][0-9]"
             required name="expiration" formControlName="expiration">
      <input class="cardInput" type="tel" placeholder="CVC" id="cvc"
             minlength="3" maxlength="3" pattern="\d{3}" required name="cvc"
             formControlName="cvc"></div>
  </div>
  <div class="anyBank colRight">
    <div class="formRow">
      <label class="infoLabel" for="cardSum">Сумма</label>
      <input type="number" class="infoInput" id="cardSum"
             placeholder="От 1000 до 75000" min="1000" max="75000"
             required name="sum" formControlName="sum">
    </div>
    <div class="formRow">
      <label class="infoLabel" for="cardComment">Комментарий</label>
      <input class="infoInput" type="text" id="cardComment"
             maxlength="150" name="comment" formControlName="comment">
    </div>
    <div class="formRow">
      <label class="infoLabel" for="cardEmail">Ваша эл.почта</label>
      <input class="infoInput" type="email" id="cardEmail" required name="email"
             formControlName="email">
    </div>
    <input type="submit" value="Заплатить" class="formButton" [disabled]="payForm.invalid">
  </div>
  <div *ngIf="success">Платёж отправлен</div>
  <div *ngIf="error">Ошибка {{error}}</div>
</form>
