.tabs
{
  list-style: none;
  padding: 0;
}

.tabs > li
{
  display: inline-block;
  margin-right: 20px;
  font-size: 1.3em;
}

#paymentSource > li
{
  font-size: 1em;
  padding: 5px;
}

#paymentSource > .ui-tabs-active
{
  background: #e8e8e8;
}

#paymentSource > li:hover
{
  background: rgba(191, 191, 191, 0.3);
}

.send-tab-active
{
  background: #e8e8e8;
  padding: 5px;

}

span.fa
{
  font-size: 0.8em;
}

a:active
{
  color: #7c7bff;
}
